<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="css/cstyle.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>


<body ng-app="zyloon">
  <div ng-controller="FormController" class="container">
    <form novalidate class="simple-form">
    <label>Amount</label>
      <input name="amount" type="text" ng-model="user.amount" /><br />
      <label>Category</label>
      <input name="category" type="text" ng-model="user.category" /><br />
      <label>Type</label><br />
      <select name="type" type="text" ng-model="user.type">
        <option value="cash">Cash</option> 
        <option value="credit">Credit</option> 
      </select><br />
      <label>Date</label>
      <input name="date" type="date" ng-model="user.date" /><br /><br />
      <input type="submit" ng-click="update(user)" value="Save" />
    </form>
  </div>

<script>

var margin = {top: 40, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var formatPercent = d3.format("1");

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(function(x){
      var _d = new Date(x);
      var month = new Array();
      month[0] = "January";
      month[1] = "February";
      month[2] = "March";
      month[3] = "April";
      month[4] = "May";
      month[5] = "June";
      month[6] = "July";
      month[7] = "August";
      month[8] = "September";
      month[9] = "October";
      month[10] = "November";
      month[11] = "December";
      return _d.getDate().toString() + '-'+ month[_d.getMonth()] + '-' + (_d.getYear() + 1900);
    });

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(formatPercent);

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>amount:</strong> <span style='color:red'>" + d.amount + "</span></br><strong>Date:</strong> <span style='color:red'>" + d.date.split('T')[0] + "</span>";
  })

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom + 50)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var globalData, data_g;
svg.call(tip);

$(document).ready(function(){

  $.get("/data", function(data){
    globalData = data;
    data_g = data;
    drawGraph(data);
  });

});

function drawGraph(data){
  
    x.domain(data.map(function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.amount; })]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
      .selectAll("text")  
            .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", ".15em")
            .attr("transform", "rotate(-65)" );

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("amount");

    svg.selectAll(".bar")
        .data(data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.date); })
        .attr("width", x.rangeBand())
        .attr("y", function(d) { return y(d.amount); })
        .attr("height", function(d) { return height - y(d.amount); })
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide)
  
    svg.selectAll(".tick")
      .append("text")
        .attr("transform", "rotate(90)")
}

function type(d) {
  d.amount = +d.amount;
  return d;
}

angular.module('zyloon', [])
  .controller('FormController', ['$scope', function($scope) {
    $scope.master = {};

    $scope.update = function(user) {
      $.ajax({
        type: "POST",
        url: "/data",
        data: user,
        success: function(da, st, s){
          data_g = globalData
          globalData.push(user)
          console.log(user)
          $(".bar").remove()
          $(".tick").remove()
          drawGraph(globalData)
        },
        dataType: "text"
      });
    };

  }]);
</script>
</body>
</html>